.page-container {
  padding: 0px 30px 30px 30px;
}

.flex {
  display: flex;
  &--column {
    flex-direction: column;
  }
  &--align-center {
    align-items: center;
  }
  &--justify-center {
    justify-content: center;
  }
  &--spacing-bottom {
    & > * {
      margin-bottom: 20px;
    }
  }
  &--spacing-right {
    & > * {
      margin-right: 20px;
    }
  }
}

.spacing {
  &__bottom {
    &--small {
      margin-bottom: 10px;
    }
    &--medium {
      margin-bottom: 20px;
    }
    &--large {
      margin-bottom: 30px;
    }
  }
}

.header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  &__logo {
    font-size: 25px;
    padding: 10px 20px;
    color: white;
    background-color: black;
    border-radius: 4px;
    font-weight: 700;
  }
}

.map {
  height: 400px;
  width: 100%;
}

.list {
  padding: 0;
  list-style-type: none;
  &__item {
    padding: 5px 10px;
    height: 25px;
    font-weight: 500;
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    width: max-content;
    cursor: pointer;
    &--focused {
      background-color: black;
      color: white;
    }
  }
}

.input {
  width: 100%;
  height: 40px;
  font-size: 20px;
  padding: 0 10px;
  border: 2px solid #e0e0e0;
  border-radius: 8px;
  background: #ffff86;
  border: 2px solid black;
  &--center-text {
    text-align: center;
  }
}

.compass {
  position: relative;
  width: 60%;
  &__pointer-container {
    height: 100%;
    position: absolute;
    z-index: 10;
    left: 50%;
    margin-left: -2.5px;
    display: flex;
  }
  &__pointer {
    border-radius: 20px;
    width: 5px;
    height: 50%;
    background-color: black;
    &--target {
      background-color: indianred;
    }
  }
  &__face {
    box-shadow: 20px 20px 60px #d9d200, -20px -20px 60px #ffff00;
    background-color: gold;
    width: 100%;
    position: relative;
    border-radius: 100%;
    &::before {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
  }
  &__north-marker {
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -16px;
    font-size: 39px;
    font-weight: bold;
  }
  &__east-marker {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -21.5px;
    font-size: 39px;
  }
  &__south-marker {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -13px;
    font-size: 39px;
  }
  &__west-marker {
    position: absolute;
    top: 50%;
    left: 10px;
    font-size: 39px;
    margin-top: -21.5px;
  }
}

.session-identifier {
  font-size: 16px;
  font-weight: bold;
  &__code {
    font-size: 22px;
  }
}

.map {
  height: 30vh;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 3px 14px -3px #a5a5a5;
}

.button {
  min-width: 85px;
  height: 40px;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  font-size: 16px;
  font-weight: bold;
  font-family: "Comfortaa";
  color: black;
  background-color: mediumspringgreen;
}

.distance-indicator {
  height: 12px;
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: center;
}
