.container {
  padding: 0px 30px 30px 30px;
}

.flex {
  display: flex;
  &--column {
    flex-direction: column;
  }
  &--align-center {
    align-items: center;
  }
  &--justify-center {
    justify-content: center;
  }
  &--justify-space-between {
    justify-content: space-between;
  }
  &--spacing-bottom {
    &-small {
      & :not(:last-child) {
        margin-bottom: 10px;
      }
    }
    &-medium {
      & :not(:last-child) {
        margin-bottom: 20px;
      }
    }
    &-large {
      & :not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
  &--spacing-right {
    &-small {
      & :not(:last-child) {
        margin-right: 10px;
      }
    }
    &-medium {
      & :not(:last-child) {
        margin-right: 20px;
      }
    }
    &-large {
      & :not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}

.spacing {
  &--bottom {
    &-small {
      margin-bottom: 10px;
    }
    &-medium {
      margin-bottom: 20px;
    }
    &-large {
      margin-bottom: 30px;
    }
  }
  &--top {
    &-small {
      margin-top: 10px;
    }
    &-medium {
      margin-top: 20px;
    }
    &-large {
      margin-top: 30px;
    }
  }
  &--right {
    &-small {
      margin-right: 10px;
    }
    &-medium {
      margin-right: 20px;
    }
    &-large {
      margin-right: 30px;
    }
  }
  &--left {
    &-small {
      margin-left: 10px;
    }
    &-medium {
      margin-left: 20px;
    }
    &-large {
      margin-left: 30px;
    }
  }
}

.header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  &__logo {
    font-size: 43px;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: 800;
    text-transform: "uppercase";
  }
}

.list {
  padding: 0;
  list-style-type: none;
  &__item {
    padding: 5px 10px;
    height: 25px;
    font-weight: 500;
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    width: max-content;
    cursor: pointer;
    &--focused {
      background-color: inherit;
      color: white;
    }
  }
}

.input {
  width: 100%;
  height: 40px;
  font-size: 20px;
  padding: 0 10px;
  border-radius: 8px;
  border: 2px solid #a4a4a4;
  //border: 2px solid #cbcbcb;
  font-family: "Poppins";
  background-color: inherit;
  &--center-text {
    text-align: center;
  }
}

.compass {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &__arrow-container {
    position: absolute;
    z-index: 200;
    transition: 0.3s all;
  }
}

.identifier {
  background-color: rgba(40, 45, 67, 0.2);
  border-top-right-radius: 40%;
  border-top-left-radius: 40%;
  width: 70%;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -50px;
  height: 50px;
}

.map {
  height: 27vh;
  border-radius: 16px;
  overflow: hidden;
  border: 2px solid #cbcbcb;
}

.button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins";
  font-size: 20px;
  text-transform: uppercase;
  &--primary {
    border: 2px solid black;
    color: white;
    background-color: black;
  }
  &--secondary {
    border: 2px solid black;
    color: black;
    background-color: transparent;
  }
}

.distance-indicator {
  z-index: 2;
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: center;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.awaiting {
  animation: fade-in-out 1.5s linear infinite;
}

.loader {
  animation: spin 2s linear infinite;
  width: max-content;
  position: absolute;
  left: 50%;
  top: 50%;
  &__icon {
    transform: scale(4);
  }
}
